body { 
    background: url(https://wallpapercave.com/wp/ZQXE9wI.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

.sticky {
    width: 100%;
    height: 50px;
    background-color: yellowgreen;
    position: sticky;
    top: 0;
}